USE [master]
GO
/****** Object:  Database [SluzbenaPutovanjaDB]    Script Date: 9/7/2026 4:14:30 PM ******/
CREATE DATABASE [SluzbenaPutovanjaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SluzbenaPutovanjaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SluzbenaPutovanjaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SluzbenaPutovanjaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\SluzbenaPutovanjaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SluzbenaPutovanjaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SluzbenaPutovanjaDB]
GO
/****** Object:  Table [dbo].[Korisnici]    Script Date: 9/7/2026 4:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnici](
	[KorisnikID] [int] IDENTITY(1,1) NOT NULL,
	[KorisnickoIme] [nvarchar](50) NOT NULL,
	[Lozinka] [nvarchar](255) NOT NULL,
	[Uloga] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[KorisnikID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[KorisnickoIme] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StavkePutovanja]    Script Date: 9/7/2026 4:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StavkePutovanja](
	[StavkaID] [int] IDENTITY(1,1) NOT NULL,
	[BrojZahteva] [int] NOT NULL,
	[VrstaTroska] [nvarchar](100) NOT NULL,
	[Iznos] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StavkaID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ZahteviZaPutovanje]    Script Date: 9/7/2026 4:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZahteviZaPutovanje](
	[BrojZahteva] [int] IDENTITY(1,1) NOT NULL,
	[OznakaZahteva]  AS ('TR-2026-'+right('0000'+CONVERT([varchar](4),[BrojZahteva]),(4))),
	[DatumPodnosenja] [date] NOT NULL,
	[ZaposleniID] [int] NOT NULL,
	[Destinacija] [nvarchar](150) NOT NULL,
	[CiljAgende] [nvarchar](max) NULL,
	[PoslovniRazlog] [nvarchar](max) NULL,
	[Status] [nvarchar](50) NOT NULL,
	[UkupanProcenjeniTrosak] [decimal](10, 2) NULL,
	[UticajNaBudzet] [nvarchar](100) NULL,
	[PotvrdaDirektora] [bit] NOT NULL,
	[KorisnikDirektorID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[BrojZahteva] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Zaposleni]    Script Date: 9/7/2026 4:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zaposleni](
	[ZaposleniID] [int] IDENTITY(1,1) NOT NULL,
	[ImePrezime] [nvarchar](100) NOT NULL,
	[Sektor] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ZaposleniID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ZahteviZaPutovanje] ADD  DEFAULT (getdate()) FOR [DatumPodnosenja]
GO
ALTER TABLE [dbo].[ZahteviZaPutovanje] ADD  DEFAULT ('Na cekanju') FOR [Status]
GO
ALTER TABLE [dbo].[ZahteviZaPutovanje] ADD  DEFAULT ((0)) FOR [UkupanProcenjeniTrosak]
GO
ALTER TABLE [dbo].[ZahteviZaPutovanje] ADD  DEFAULT ((0)) FOR [PotvrdaDirektora]
GO
ALTER TABLE [dbo].[StavkePutovanja]  WITH CHECK ADD FOREIGN KEY([BrojZahteva])
REFERENCES [dbo].[ZahteviZaPutovanje] ([BrojZahteva])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ZahteviZaPutovanje]  WITH CHECK ADD FOREIGN KEY([KorisnikDirektorID])
REFERENCES [dbo].[Korisnici] ([KorisnikID])
GO
ALTER TABLE [dbo].[ZahteviZaPutovanje]  WITH CHECK ADD FOREIGN KEY([ZaposleniID])
REFERENCES [dbo].[Zaposleni] ([ZaposleniID])
GO
/****** Object:  StoredProcedure [dbo].[sp_DodajZahtev]    Script Date: 9/7/2026 4:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DodajZahtev]
    @ZaposleniID INT,
    @Destinacija NVARCHAR(200),
    @PoslovniRazlog NVARCHAR(MAX),
    @UkupanProcenjeniTrosak DECIMAL(18, 2),
    @Status NVARCHAR(50) = 'Na cekanju'
AS
BEGIN
    INSERT INTO ZahteviZaPutovanje (ZaposleniID, Destinacija, PoslovniRazlog, UkupanProcenjeniTrosak, Status, DatumPodnosenja)
    VALUES (@ZaposleniID, @Destinacija, @PoslovniRazlog, @UkupanProcenjeniTrosak, @Status, GETDATE());
END
GO
/****** Object:  StoredProcedure [dbo].[sp_DodajZaposlenog]    Script Date: 9/7/2026 4:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_DodajZaposlenog]
    @ImePrezime NVARCHAR(100)
AS
BEGIN
    INSERT INTO Zaposleni (ImePrezime) 
    VALUES (@ImePrezime);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_IzmeniZaposlenog]    Script Date: 9/7/2026 4:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_IzmeniZaposlenog]
    @ZaposleniID INT,
    @ImePrezime NVARCHAR(100)
AS
BEGIN
    UPDATE Zaposleni 
    SET ImePrezime = @ImePrezime 
    WHERE ZaposleniID = @ZaposleniID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObrisiZahtev]    Script Date: 9/7/2026 4:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObrisiZahtev]
    @BrojZahteva INT
AS
BEGIN
    DELETE FROM ZahteviZaPutovanje 
    WHERE BrojZahteva = @BrojZahteva;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ObrisiZaposlenog]    Script Date: 9/7/2026 4:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_ObrisiZaposlenog]
    @ZaposleniID INT
AS
BEGIN
    DELETE FROM Zaposleni 
    WHERE ZaposleniID = @ZaposleniID;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_VratiSveZahteve]    Script Date: 9/7/2026 4:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VratiSveZahteve]
AS
BEGIN
    SELECT * FROM ZahteviZaPutovanje;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_VratiSveZaposlene]    Script Date: 9/7/2026 4:14:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_VratiSveZaposlene]
AS
BEGIN
    SELECT ZaposleniID, ImePrezime FROM Zaposleni;
END
GO
USE [master]
GO
